@model EmployeeMangmentSystem.Repository.Models.ReportFilter
<div class="row" style="margin:25px">
    <div class="col-lg-12">
        @if (Model.IsSuperAdmin)
        {

            using (Html.BeginForm("GetReports", "Reports", FormMethod.Post, new { @class = "col-lg-12", role = "form" }))
            {

                <div class="form-group">
                    @Html.Label("Select Employee", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.DropDownList("Employee", new SelectList(ViewBag.User, "Id", "Name"), "Select Employee", new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.Label("From Date", htmlAttributes: new { @class = "control-label col-md-1" })
                        <div class="col-md-2">
                            @Html.TextBox("From", "", new { @class = "form-control from", data_provide = "datepicker" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("To Date", htmlAttributes: new { @class = "control-label col-md-1" })
                        <div class="col-md-2">
                            @Html.TextBox("To", "", new { @class = "form-control to", data_provide = "datepicker" })
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" style="margin-left:20px;">Search</button>
                    </div>
                </div>
                @*<div class="form-group">
                        @Html.Label("Date", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EnumDropDownListFor(model => model.WeekFilter, new { @class = "form-control" })
                        </div>
                    </div>*@

            }
        }

        <table class="table table-bordered table-responsive" style="margin-top:50px;">
            <tr>

                <th>
                    Name
                </th>
                <th>
                    Date
                </th>
                <th>
                    Total Time
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Report)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalAge)
                    </td>
                    <th>   @Html.ActionLink("View In Detail", "ViewReport", new { id = item.UserId, date = item.Date }) </th>

                </tr>
            }

        </table>
    </div>
</div>