@model EmployeeMangmentSystem.Repository.Models.Interviews

@{
    ViewBag.Title = "Create Interview";
}

@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>*@
@*<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>*@
<link href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" />


<script type="text/javascript">
    $('.sdate').datepicker()
    $('.stime').timepicker()

</script>
@*<script type="text/javascript">
        $(function () {
            debugger
             $('#CandidateId').autocomplete({
                source: function (request, response) {
                    debugger
                     $.ajax({
                         url: '@Url.Action("GetCandidateDetail","Interview")',
                         data: "{ 'name': '" + request.term + "'}",
                            dataType: "json",
                            type: "POST",
                            contentType: "application/json; charset=utf-8",
                         success: function (data) {
                             debugger
                             response($.map(data, function (item) {
                                 debugger
                                 return item.Name;
                                }))
                            },
                            error: function (response) {
                                alert(response.responseText);
                            },
                            failure: function (response) {
                                alert(response.responseText);
                            }
                        });
                    },
                 select: function (e, i) {
                     $('#CandidateId').val(i.item.val);
                    },
                    minLength: 3
            });
        });
    </script>*@

<script type="text/javascript">
    $(function () {
            debugger
             $('.name').autocomplete({
                source: function (request, response) {
                    //debugger
                     $.ajax({
                         url: '@Url.Action("GetCandidateDetail","Interview")',
                         data: "{ 'name': '" + request.term + "'}",
                            dataType: "json",
                            type: "POST",
                            contentType: "application/json; charset=utf-8",
                         success: function (data) {
                             //debugger
                             response($.map(data, function (item) {
                                 //debugger
                                 return item;
                                }))
                            },
                            error: function (response) {
                                alert(response.responseText);
                            },
                            failure: function (response) {
                                alert(response.responseText);
                            }
                        });
                    },
                 select: function (event, ui) {
                     //debugger
                     $('.name').val(ui.item.Name);
                     $('#CandidateId').val(ui.item.Id);
                     return false;
                    },
                 minLength: 3
             }).autocomplete("instance")._renderItem = function (ul, item) {
                 //debugger
                    return $( "<li>" )
                        .append("<div>" + "Name : " + item.Name + "<br>" + "Mobile No : " + item.MobileNo + "<br>" + "Email : " + item.Email + "</div>" )
                    .appendTo( ul );
            };
        });
</script>




<div class="x_panel">
    <div class="x_title">
        <h2>
            @if (!string.IsNullOrWhiteSpace(ViewBag.Title))
            {
                @ViewBag.Title
            }
        </h2>
        <ul class="nav navbar-right panel_toolbox">
            <li>
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>

        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        @using (Html.BeginForm("Create", "Interview", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                <div class="form-group">
                    @Html.Label("Select Candidate", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @*@Html.DropDownListFor(model => model.CandidateId, (SelectList)ViewBag.Candidate, "Select Candidate", new { @class = "form-control name" })*@
                        @Html.HiddenFor(model => model.CandidateId)
                        @Html.TextBox("Name","", new { @class = "form-control name" })
                        @Html.ValidationMessageFor(model => model.CandidateId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Select Employee", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.EmployeeId, new SelectList(ViewBag.Employee, "Id", "Name"), "Select Employee", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ScheduleTime, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.Label("Date")
                        @Html.TextBox("Sdate", (string)ViewBag.sdate, new { @class = "form-control sdate", data_provide = "datepicker" })
                    </div>
                    <div class="col-md-2">
                        @Html.Label("Time")
                        @Html.TextBox("Stime", (string)ViewBag.stime, new { @class = "form-control stime", data_provide = "timepicker" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.InterviewStatus, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EnumDropDownListFor(model => model.InterviewStatus, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="col-md-2">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                        <div class="col-md-2">
                            <a href="@Url.Action("Index","Interview")" class="btn btn-success">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
