@model IEnumerable<EmployeeManagementSystem.Models.ApplicationUser>

@{
    ViewBag.Title = "Users";
}

@*<h2>Index</h2>*@
<div class="x_panel">
    <div class="x_title">
        <h2>
            @if (!string.IsNullOrWhiteSpace(ViewBag.Title))
            {
                @ViewBag.Title
            }
        </h2>
        <ul class="nav navbar-right panel_toolbox">
            <li>
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>

        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">


        <p>
            <a class="btn btn-success glyphicon glyphicon-plus" href="@Url.Action("Create","User")"></a>

        </p>
        <table id="demoGrid" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th style="text-align:center">
                        @Html.DisplayNameFor(model => model.Email)
                    </th>

                    <th style="text-align:center">
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th style="text-align:center">
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th style="text-align:center">
                        @Html.DisplayNameFor(model => model.UserStatus)
                    </th>
                    <th style="text-align:center">Edit</th>
                    <th style="text-align:center">Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserStatus)
                        </td>
                        <td style="text-align:center">
                            <a class="btn btn-info glyphicon glyphicon-edit" href="@Url.Action("Edit","User",new { id = @item.Id})"></a>
                        </td>
                        <td style="text-align:center">
                            <a class="btn btn-danger glyphicon glyphicon-trash delete-prompt" id="@item.Id" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="@item.FirstName"></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    var deleteUrl = '@Url.Action("DeleteConfirm", "User")';
</script>