@using EmployeeManagementSystem.Helper
@using Microsoft.AspNet.Identity
<div class="top_nav">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        @*                        <img src="images/img.jpg" alt="">@User.Identity.GetUserName()*@
                        @User.Identity.GetUserName()
                        <span class=" fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">

                        <li><a href="@Url.Action("ChangePassword","Manage")">Change Password</a></li>
                        <li>
                            <a href="@Url.Action("LogOff", "Account" )">
                                LogOut
                            </a>
                        </li>
                        @if (!CommonHelper.IsSuperAdmin())
                        {
                            <li><a href="@Url.Action("Profile","User")"> Profile</a></li>
                        }
                        @if (CommonHelper.CurrentRoleName() == "Admin" || CommonHelper.IsSuperAdmin())

                        {
                            <li>
                                <a href="@Url.Action("Create", "Setting" )">
                                    Settings
                                </a>
                            </li>
                        }


                    </ul>
                </li>

            </ul>
        </nav>
    </div>
</div>

