<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        @if (!string.IsNullOrWhiteSpace(ViewBag.Title))
        {
            @ViewBag.Title
        }
    </title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/nprogress.css" rel="stylesheet" />
    <link href="~/Libs/Gentelella/css/custom.min.css" rel="stylesheet" />
 
   
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
</head>

<body class="nav-md footer_fixed">
    <div class="container body">
        @Html.Partial("_StatusMessages")
        <div class="main_container">
            @Html.Partial("_Sidebar")
            <!-- top navigation -->
            @Html.Partial("_Header")
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>
                                @if (!string.IsNullOrWhiteSpace(ViewBag.Title))
                                {
                                    @ViewBag.Title
                                }
                            </h3>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    @RenderBody()

                </div>
            </div>

            <!-- /page content -->
            <!-- footer content -->
            @Html.Partial("_Footer")
            <!-- /footer content -->
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/fastclick.js"></script>
    <script src="~/Scripts/nprogress.min.js"></script>
    <script src="~/Libs/Gentelella/js/custom.min.js"></script>
  
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
</body>



</html>
