<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        @if (!string.IsNullOrWhiteSpace(ViewBag.Title))
        {
            @ViewBag.Title
        }
    </title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/nprogress.css" rel="stylesheet" />
    <link href="~/Libs/Gentelella/css/custom.min.css" rel="stylesheet" />
    <link href="~/Content/dataTables.bootstrap.min.css" rel="stylesheet" />

    @*<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />*@
    @*<link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />*@
    @*<link href="~/Content/bootstrap-datepicker3.min.css" rel="stylesheet" />*@
    @*<link href="~/Content/bootstrap-datepicker.standalone.min.css" rel="stylesheet" />*@
    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker.standalone.css" rel="stylesheet" />
    <link href="~/Content/responsive.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/common.css" rel="stylesheet" />
    <link href="~/Content/datetimepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/datetimepicker-standalone.css" rel="stylesheet" type="text/css" />
    @*<link href="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />*@
    <link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
    @*<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.css" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css" rel="stylesheet" />*@



</head>

<body class="nav-md footer_fixed">
    <div class="container body">
        @Html.Partial("_StatusMessages")
        @Html.Partial("ConformDialog")
        @Html.Partial("_NotificationMessage")
        <div class="main_container">
            @Html.Partial("_Sidebar")
            <!-- top navigation -->
            @Html.Partial("_Header")
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">

                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12" style="bottom:20px;top: 20px;">
                            @RenderBody()

                        </div>
                    </div>
                </div>
            </div>


            <!-- /page content -->
            <!-- footer content -->
            @Html.Partial("_Footer")
            <!-- /footer content -->
        </div>
    </div>

    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/fastclick.js"></script>
    <script src="~/Scripts/nprogress.min.js"></script>
    <script src="~/Libs/Gentelella/js/custom.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap4.js"></script>
    <script src="~/Scripts/common.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>*@
    @*<script src="~/Scripts/bootstrap-datepicker.min.js"></script>*@
    @*<script src="~/Scripts/bootstrap-datepicker.min.js"></script>*@
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    @*<script src="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js" type="text/javascript"></script>*@
    <script src="~/Scripts/bootstrap-multiselect.js" type="text/javascript"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.js" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.min.js" type="text/javascript"></script>*@
    <script src="~/Scripts/datetimepicker.min.js" type="text/javascript"></script>
</body>
</html>
