@using EmployeeManagementSystem.Models
@model LoginViewModel
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/nprogress.css" rel="stylesheet" />
<link href="~/Libs/Gentelella/css/custom.min.css" rel="stylesheet" />

<body class="login">
    <div>
        <a class="hiddenanchor" id="signin"></a>
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h1>Login Form</h1>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">

                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Enter Email" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group">

                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Enter Password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                        </div>

                        <div>
                            <button class="btn btn-default submit" type="submit">Log in</button>
                            <a class="reset_pass" href="#">Lost your password?</a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="separator">
                            <p class="change_link">
                                New to site?
                                <a href="@Url.Action("Register", "Account")" class="to_register"> Create Account </a>

                            </p>
                            <div class="clearfix"></div>
                            <br />
                            <div>
                                <h1><i class="fa fa-paw"></i>Employee Managment System</h1>
                                <p>  2018-19 All Rights Reserved To LogDown Technologies</p>
                            </div>
                        </div>
                    }
                </section>
            </div>

        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/fastclick.js"></script>
    <script src="~/Scripts/nprogress.min.js"></script>
    <script src="~/Libs/Gentelella/js/custom.min.js"></script>
</body>
