@model EmployeeMangmentSystem.Repository.Models.ViewModel.ResourceViewModel

@{
    ViewBag.Title = "Available Resource by Skill";
}

<div class="x_panel">
    <div class="x_title">
        <h2>
            @if (!string.IsNullOrWhiteSpace(ViewBag.Title))
            {
                @ViewBag.Title
            }
        </h2>
        <div class="nav navbar-right">
            <div>
                <a class="btn btn-success fa fa-file-pdf-o" id="submit"></a>
                <a class="btn btn-success fa fa-exc" id="print"></a>
            </div>

        </div>

        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="row">
            <div class="col-md-8">
                @using (Html.BeginForm("DisplayResources", "Resource", FormMethod.Post))
                {
                    @*@Html.AntiForgeryToken()*@
                    <div class="form-group">
                        @Html.LabelFor(model => model.Resource, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.Resource, new SelectList(ViewBag.Skills, "Id", "Name"), "Select Skill", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.IsCurrentlyWorking, htmlAttributes: new { @class = "Control-label col-md-2" })
                        <div class="col-md-3">
                            @Html.EnumDropDownListFor(model => model.IsCurrentlyWorking, new { @class = "form-control" })
                        </div>
                    </div>
                    <input type="submit" value="Search" class="btn btn-success" style="margin-left: 30px;" />

                }
            </div>
        </div>
        @if (Model != null && Model.EmployeeUserViewModels != null)
        {


            <table id="skills" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0" style="margin-top:15px;">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Phone
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.EmployeeUserViewModels)
                    {
                        <tr>
                            <td id="Name">
                                @{
                                    var name = item.FirstName + " " + item.MiddleName + " " + item.LastName;
                                }
                                @name
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Phone)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

@*<script>
        function SelectedIndexChanged() {
            if ($("#SkillId").val() != "") {
                location.href = '@Url.Action("DisplayResources", "Resource")?id=' + $("#SkillId").val();
            } else {
                $("#skills").toggle();
            }
        }
    </script>*@


<script type="text/javascript">
    if ($('#SkillId').val() != "") {
        $('#submit').click(function () {
        var url = '@Url.Action("Print","Resource")';
        location.href = url + '/' + $('#SkillId').val();
        })
    }
</script>

