@model IEnumerable<EmployeeMangmentSystem.Repository.Models.Projects>
@using Helpers
@using EmployeeMangmentSystem.Resources

@{
    ViewBag.Title = "Projects";
}

<div class="x_panel">
    <div class="x_title">
        <h2>
            @if (!string.IsNullOrWhiteSpace(ViewBag.Title))
            {
                @ViewBag.Title
            }
        </h2>
        <ul class="nav navbar-right panel_toolbox">
            <li>
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>

        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">

        <div class="row">
            <div class="col-md-1">

                <p>
                    <a class="btn btn-success glyphicon glyphicon-plus" href="@Url.Action("Create","Project")"></a>
                </p>
            </div>
            <div class="col-md-10"></div>
            <div class="col-md-1">
                <p>
                    <a class="btn btn-success fa fa-file-pdf-o" type="submit" target="_blank" href="@Url.Action("Print","Project", new { target = "_blank" })"></a>

                </p>
            </div>
        </div>
        @if (Model.Count() > 0)
        {
            <table id="demoGrid" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th style="text-align:center">
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th style="text-align:center">
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th style="text-align:center">
                            @Html.DisplayNameFor(model => model.ProjectStatus)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProjectType)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @if (item.ProjectStatus == Enums.ProjectStatus.Active)
                            {
                                @CommonResources.Active
                            }
                            else if (item.ProjectStatus == Enums.ProjectStatus.Pending)
                            {
                                @CommonResources.Pending
                            }
                            else
                            {
                                @CommonResources.Closed
                            }
                        </td>
                        <td>
                            @if (item.ProjectType == Enums.ProjectType.FixedPriceProject)
                            {
                                @CommonResources.FPP
                            }
                            else
                            {
                                @CommonResources.Hire
                            }
                        </td>
                        <td style="text-align:center">
                            <a class="btn btn-info glyphicon glyphicon-edit" href="@Url.Action("Edit", "Project", new { id = @item.Id })"></a>
                        </td>
                        <td style="text-align:center">
                            <a class="btn btn-danger glyphicon glyphicon-trash delete-prompt" id="@item.Id" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="@item.Name"></a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

<script>
    var deleteUrl = '@Url.Action("DeleteConfirm", "Project")';
</script>

